chrome_driver=r"C:\Users\frank\source\repos\GITHUB\shopee-bot\webdriver\chromedriver.exe"
pin_number ="202321"
link_produk ="https://shopee.co.id/MousePad-Bantal-i.102655935.1904399625"
cookiee = 'cTl1SjdtkjhdMSDAdas0921321321'